/* 
declaration block:

selector{
    property: value;
    property2: value2;
}
*/

body{
    background-color: rgb(137, 141, 141);
    color: black;
}

nav{
    height: 100px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 20px;
}

#memeImgae{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

h1{
    text-align: center;
}